#right{
    width: 70%;
    height: 100%;
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center ;
    .box{
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        h1{
            font-weight: 400;
            text-transform: uppercase;
            margin: 20px 0 0 0;
            font-size: 50px;
            color: #7a5449;
        }
        hr{
            border: 1px solid #7a544944;
            width: 40%;
            margin: 5px 0;

        }
        h4{
            font-weight: 400;
            font-size:15px;
            margin: 5px 0;
            color: #7a5449;
        }
    }
    .history{
        width: 90%;
        display: flex;
        flex-direction: column;
        strong{
            font-size: 1.3em;
            font-weight: 600;
            text-transform: uppercase;
            color: #7a5449;
        }
        hr{
            margin: 5px 0 0 0;
            width: 100%;
            border: 3px solid #7a5449;
        }
        p{
            line-height: 26px;
            text-align: justify;
            max-width: 96%;
            font-size: 14px;
            align-self: center;
            text-indent: 2em;
            margin:10px 0 0 0;
        }
    }
    .experience{
        width: 90%;
        margin: 30px 0 0 0;
        display: flex;
        flex-direction: column;
        strong{
            font-size: 1.3em;
            font-weight: 600;
            text-transform: uppercase;
            color: #7a5449;
        }
        hr{
            border: 3px solid #7a5449;
            margin: 5px 0;
        }
        .hidden-proj{
            overflow-y: scroll;
            width: 96%;
            align-self: center;
            height: 400px;
            .scroll-proj{
                width: 100%;
                height: fit-content;
                overflow: hidden;
                .box-proj{
                    width: 96%;
                    height: 200px;
                    margin: 10px 0 0 0;
                    display: flex;
                    .name-proj{
                        width: 20%;
                        height: 100%;
                        border-right:3px solid #7a5449;
                        span{
                            font-size: 14px;
                            font-weight: 600;
                            color: #262626;
                        }
                    }
                    .content-proj{
                        width: 80%;
                        height: 100%;
                        position: relative;
                        p{
                            margin: 0 0 0 10px;
                            text-align: justify;
                            line-height: 25px;
                        }
                        a{
                            text-decoration: none;
                            color: #262626;
                            padding: 10px;
                            background: #262626;
                            position: absolute;
                            bottom: 10px;
                            margin: 0 0 0 10px;
                            border-radius: 10px;
                            color: white;
                        }
                    }
                    .pointer{
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        position: absolute;
                        background: #7a5449;
                        top: 0;
                        left: -7px;
                    }
                }
            }
        }
        
    }
    .skills{
        width: 90%;
        align-self: center;
        strong{
            font-size: 1.3em;
            font-weight: 600;
            text-transform: uppercase;
            color: #7a5449;
        }
        hr{
            border: 3px solid #7a5449;
            margin: 5px 0;
        }
        .division{
            width: 100%;
            height: 127px;
            display: flex;
            .pessoal-skill{
                width: 50%;
                height: 100%;
                align-items: center;
                display: flex;
                border-right: 3px solid #7a5449;
                ul{
                    width: 100%;
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    li{
                        margin: 0 10px;
                        .rounded-icons{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background: #262626;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                                svg{
                                color: #c9cacd;
                             }
                        }
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        span{
                            font-size: 12px;
                            text-align: center;
                        }
                    }
                }
            } 
            .tools-skills{
                width: 50%;
                height: 100%;
                align-items: center;
                display: flex;
                ul{
                    width: 100%;
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    height: 85px;
                    li{
                        margin: 0 10px;
                        .rounded-icons{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background: #262626;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                                svg{
                                color: #c9cacd;
                             }
                        }
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        span{
                            font-size: 12px;
                            text-align: center;
                        }
                    }
                }
            } 
            }
    }
}

@media (max-width:1024px){
    #right{
        .box{
            h1{
                font-size: 39px;
            }
        }
        .experience{
            .hidden-proj{
                .scroll-proj{
                    .box-proj{
                        .content-proj{
                            p{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            
        }
        .skills{
            .division{
                .pessoal-skill{
                    ul{
                        li{
                            margin: 0 1px;
                            .rounded-icons{
                                width: 40px;
                                height: 40px;
                            }
                        }
                    }
                } 
                
            }
        }
    }
}
@media(max-width:768px){
    #right{
        .box{
            h1{
                font-size: 30px;
            }
        }
        .experience{
            .hidden-proj{
                .scroll-proj{
                    .box-proj{
                        margin: 20px 0 0 0;
                        .name-proj{
                        }
                        .content-proj{
                            p{
                                font-size: 11px;
                            }
                            a{
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
            
        }
        .skills{         
            .division{
                .pessoal-skill{
                    ul{
                        li{
                            margin: 0 1px;
                            .rounded-icons{
                                width: 30px;
                                height: 30px;
                            }
                            span{
                                font-size: 9px;
                            }
                        }
                    }
                } 
                .tools-skills{
                    ul{
                        height: 63px;
                        li{
                            margin: 0 2px;
                            .rounded-icons{
                                width: 30px;
                                height: 30px;
                            }
                            span{
                                font-size: 9px;
                                text-align: center;
                            }
                        }
                    }
                } 
            }
        }
    }
}