* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  outline: 0;
}

html,
body {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#left {
  max-width: 30%;
  width: 100%;
  height: 100%;
}

#left .img-left {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#left .img-left img {
  max-width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#left .img-left .about {
  width: 100%;
  height: 300px !important;
  background: #00000081;
  position: absolute;
  bottom: 4px;
  z-index: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#left .img-left .about .profile {
  width: 60%;
  height: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#left .img-left .about .profile hr {
  width: 100%;
  border: 1px solid #dddd;
  margin: 10px;
}

#left .img-left .about .profile strong {
  font-size: 1.7em;
  font-weight: 500;
  color: #c9cacd;
  text-transform: uppercase;
}

#left .img-left .about .profile p {
  color: #eeeeee;
  font-size: 14px;
  text-align: justify;
  line-height: 24px;
}

#left .details {
  width: 100%;
  height: 100%;
  background: #151515;
  margin-top: -4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#left .details .adress {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 0 40px 0;
}

#left .details .adress svg {
  margin: 0 10px 0 0;
  font-size: 1.8em;
  color: white;
}

#left .details .adress .about-adress strong {
  color: #c9cacd;
  font-weight: 500;
}

#left .details .adress .about-adress hr {
  border: 1px solid #b7b7b7;
  margin: 5px 0;
}

#left .details .adress .about-adress ul {
  list-style: none;
}

#left .details .adress .about-adress ul li {
  margin: 10px 0;
  color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.8em;
}

#left .details .adress .about-adress ul li strong {
  font-size: 1.3em;
}

#left .details .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 100%;
}

#left .details .contact svg {
  margin: 0 10px 0 0;
  color: white;
  font-size: 1.8em;
}

#left .details .contact .about-contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#left .details .contact .about-contact strong {
  color: #c9cacd;
  font-weight: 500;
}

#left .details .contact .about-contact hr {
  width: 100%;
  border: 1px solid #b7b7b7;
  margin: 5px 0;
}

#left .details .contact .about-contact ul {
  list-style: none;
}

#left .details .contact .about-contact ul li {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9em;
  color: #eeeeee;
}

#left .details .contact .about-contact ul li svg {
  font-size: 1.5em;
  color: #c9cacd;
}

#left .details .contact .about-contact ul li a {
  text-decoration: none;
  font-size: 0.9em;
  color: #eeeeee;
}

#right {
  width: 70%;
  height: 100%;
  background: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#right .box {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#right .box h1 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 20px 0 0 0;
  font-size: 50px;
  color: #7a5449;
}

#right .box hr {
  border: 1px solid #7a544944;
  width: 40%;
  margin: 5px 0;
}

#right .box h4 {
  font-weight: 400;
  font-size: 15px;
  margin: 5px 0;
  color: #7a5449;
}

#right .history {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#right .history strong {
  font-size: 1.3em;
  font-weight: 600;
  text-transform: uppercase;
  color: #7a5449;
}

#right .history hr {
  margin: 5px 0 0 0;
  width: 100%;
  border: 3px solid #7a5449;
}

#right .history p {
  line-height: 26px;
  text-align: justify;
  max-width: 96%;
  font-size: 14px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-indent: 2em;
  margin: 10px 0 0 0;
}

#right .experience {
  width: 90%;
  margin: 30px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#right .experience strong {
  font-size: 1.3em;
  font-weight: 600;
  text-transform: uppercase;
  color: #7a5449;
}

#right .experience hr {
  border: 3px solid #7a5449;
  margin: 5px 0;
}

#right .experience .hidden-proj {
  overflow-y: scroll;
  width: 96%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 400px;
}

#right .experience .hidden-proj .scroll-proj {
  width: 100%;
  height: 1000px;
  overflow: hidden;
}

#right .experience .hidden-proj .scroll-proj .box-proj {
  width: 96%;
  height: 200px;
  margin: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#right .experience .hidden-proj .scroll-proj .box-proj .name-proj {
  width: 20%;
  height: 100%;
  border-right: 3px solid #7a5449;
}

#right .experience .hidden-proj .scroll-proj .box-proj .name-proj span {
  font-size: 14px;
  font-weight: 600;
  color: #262626;
}

#right .experience .hidden-proj .scroll-proj .box-proj .content-proj {
  width: 80%;
  height: 100%;
}

#right .experience .hidden-proj .scroll-proj .box-proj .pointer {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background: #7a5449;
  top: 0;
  left: -7px;
}
/*# sourceMappingURL=main.css.map */